.iconed-link {
    color: #586ed3;
    fill: #586ed3;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    display: flex;
    flex-direction: row-reverse;
    
    &:hover {
        color: #726b66;
        fill: #726b66;
    }

    &__icon {
        width: 15px;
        height: 15px;
        //fill: #586ed3;
        margin-right: 5px;
        
        &:hover {
            fill: #9c63dda8;
        }
    }
}