.menu__items {
    display: flex;
    width: 690px;
    justify-content: space-around;
}

.menu {

    &__item {
        display: flex;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
    }

    &:last-child {
        margin-right: 0;
    }

    &__link:hover {
        opacity: 0.5;
    }
}