.ps {

    &__star {
        opacity: 0.25;
        color: #db0200;
        font-family: "Open Sans";
        font-size: 48px;
        font-style: italic;
        line-height: 30px;
        margin-right: 30px;

        @include phones() {
            margin-right: 3px;
        }
    }
}