.scroll-btn {
    display: flex;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;   
    margin-bottom: 5%;
    z-index: 25;

    &:hover {
        opacity: 0.5;
    }
}

.scroll__icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}